@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --white: #FFFFFF;
    --space-default:70px;


}
body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;


}
header{
    height: 48px;
}

.logo{
    display: inline-flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 32px;
    line-height: 39.73px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

main{

    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    
}
.title{

    position: relative;
    grid-column: 1/-1;
    place-self: center;
    font-family: 'Righteous', cursive;
}

.title_text{
    font-size: 20vw;
    color: var(--white);
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
}
.title_transparente{
    position: absolute;
    font-size: 27vw;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    font-family: 'Righteous', cursive;
}
.description{
    grid-column: 1/7;
    place-self: center start;
    color: var(--secundary-color);
    font-family: 'Righteous', cursive;
    text-align: center;


}
.description_title{
    font-size: 4rem;
    font-family: 'Righteous', cursive;
}
.description_text{
    font-size: 1.2rem;
    width: 490px;
    font-family: 'Righteous', cursive;
}
.action{
    grid-column: 7/-1;
    place-self: center end;
    text-decoration: none;
    color: var(--white);
    background-color: var(--secundary-color);
    height: 100px;
    width: 411px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Righteous', cursive;
    
    
}
footer{
    text-align: center;
    color: var(--secundary-color);
    font-family: 'Righteous', cursive;
    
    

}
.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


}
/*TABLET*/
 @media(max-width:960px){
     body{
         

     }
     :root{

        --space-default:30px;
    
    
    }
    main{

    
        grid-template-columns: 1fr;
        
    }
   
    .description{
        grid-row: 2;
        grid-column: 1;
        place-self: center;
        text-align: center;
       
    
    }
    .title{
        place-self: start center;
    }
    .action{
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
    }
    footer{
        display: none;
    }
    .pikachu-image{
        transform: translate(-50%,-60%);
    
    
    }
    @media (max-width: 640px) {
        .title{
            transform: translateY(30px);
        }
        .description_text{
            display: none;
        }
        .description_title{
            font-size: 10vw;
        }
        .action{
            width: 100%;
        }
        .pikachu-image{
            width: 90vw;
            transform: translate(-50%,-50%);
        }
    }
 }
 
 