@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;
    --white: #FFFFFF;
    --space-default:70px;


}
body{
    height: 100vh;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-left: var(--space-default);
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;


}
header{
    background-color: aqua;
    height: 48px;
    

}
.logo{
    display: flex;
    align-items: center;
    gap: 2.7px;
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 32px;
    line-height: 39.73px;
    font-weight: 400;
    font-family: 'Righteous', cursive;


}

main{
    background-color: tomato;
    flex-grow: 1;
    
}
footer{
    background-color: purple;
    

}
    